body {
  font-family: 'Montserrat', sans-serif;
}

/* Navbar */
.container {
  border-bottom: 1px solid whitesmoke;
}

.brand__link {
  color: #eb6282;
  font-weight: 700;
  padding: 0 1rem;
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  opacity: 0.7;
  color: #333;
}

.search__container {
  display: flex;
  flex: 0.8;
  justify-content: space-between;
  align-items: center;
  background: #eaeaea;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  width: 300px;
}

.search__input {
  border: none;
  outline: none;
  background: transparent;
}

.search__input::placeholder {
  color: #000;
  font-family: 'Montserrat', sans-serif;
}

.search__icon {
  font-size: 1.2rem;
}
